<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="all_exo_new_urdf_7_4" />
  <arg name="pinned" default="False" />

  <include file="$(find all_exo_new_urdf_7_4)/launch/load_robot_description.launch" pass_all_args="true" />
  <param name="use_gui" value="True"/>

<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find all_exo_new_urdf_7_4)/urdf.rviz"/>
</launch>
